<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>5S检查</title>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.toast.min.css}"/>
</head>
<body>
你好, 今天是<p id="dateValue" th:text="${#dates.format(#dates.createNow(), 'yyyy年MM月dd日')}" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></p>

<br/>
<div style="overflow: hidden;">
    <label for="groupId" class="col-form-label col-2">请选择检查对象：</label><select id="groupId" class="custom-select col-1"></select>
    <button id="checkTheGroup" class="btn-info" onclick="checkTheGroup();">确定</button>
    <button id="pastQuery" class="btn-primary">往期查询</button>
    <button class="btn-primary" id="groupList" style="margin-right: 5px;float: right;margin-top: 5px;">小组管理</button>
    <button class="btn-primary" id="positionList" style="margin-right: 5px;float: right;margin-top: 5px;">机器管理</button>
    <button class="btn-primary" id="problemList" style="margin-right: 5px;float: right;margin-top: 5px;">问题管理</button>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="5%">序号</th>
                <th width="10%">日期</th>
                <th width="10%">小组</th>
                <th width="10%">机器</th>
                <th width="*%">问题</th>
                <th width="8%">扣分</th>
                <th width="10%">操作</th>
            </tr>
        </thead>
        <tbody id="collectData">
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">选择发现的问题</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modalSaveBtn">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/toast/alertTool.js}"></script>
<script th:src="@{/js/toast/jquery.toast.min.js}"></script>
<script th:inline="javascript">

    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];

    var problems = [];

    var initAllProblems = function () {
      $.ajax({
          url: basePath + "/workProblem/findAllList",
          type: "GET",
          async:false,
          success: function (data) {
              if (data.success) {
                  problems = data.data;
              } else {
                  alertTool.error("加载工作问题失败！");
              }
          }
      });
    };

    //分组下拉框
    var getAllGroup = function () {
        $.ajax({
            url:basePath + "/workGroup/findAllList",
            type:"GET",
            async:false,
            success:function (data) {
                var _html = '';
                if (data.success) {
                    $(data.data).each(function (i, item) {

                        if (i === 0)
                            _html += ('<option value="'+item.id+'" selected="selected">'+item.name+'</option>');
                        else
                            _html += ('<option value="'+item.id+'">'+item.name+'</option>');
                    });
                    $("#groupId").html(_html);
                }
            },
            error:function (data) {
                console.log(data);
            }
        });
    };

    var checkTheGroup = function() {
        var createDate = $("#dateValue").attr("value");
        var groupId = $("#groupId").val();

        $.ajax({
            /*<![CDATA[*/
            url: basePath + "/problemCollect/initData?createDate="+createDate+"&groupId="+groupId,
            /*]]>*/
            type: "GET",
            async:false,
            success:function (data) {
                if (data.success) {
                    installData(data.data);
                } else {
                    alertTool.error("数据加载失败！")
                }
            }
        });
    };

    var installData = function(data) {
        var _tBody = $("#collectData");

        if (data === undefined || null == data || data.length === 0) {
            _tBody.html('<tr><td colspan="7" align="center">没有查询到数据</td></tr>');
            return;
        }

        var _html = '';

        $(data).each(function (i, item) {
            var checkHtml = '<button class="btn-warning" onclick="showModal('+item.id+', '+i+')">选择扣分项</button>' +
                '<input type="hidden" value="'+item.problemId+'" id="hiddenP'+i+'"/>';
            _html += '<tr><td>'+(i+1)+'</td><td>'+item.checkDateStr+'</td><td>'+item.groupName+'</td>' +
                '<td>'+item.positionName+'</td><td>'+item.problemName+'</td><td>'+item.point+'</td><td>'+checkHtml+'</td></tr>';
        });

        _tBody.html(_html);
    };

    var installProblemData = function (id, i) {
        initAllProblems();

        $(".modal-body").html('');

        var ids = $("#hiddenP"+i).val();
        var idArray = [];

        if (ids === undefined || ids == null || ids === '') {
            idArray = [];
        } else {
            idArray = ids.split(",");
        }

        var _html = '<input type="hidden" id="id" value="'+id+'"/>';

        $(problems).each(function (i, item) {

            if (idArray.indexOf(""+item.id) >= 0) {

                _html += '<label class="checkbox-inline">' +
                    '<input type="checkbox" name="problemId" value="'+item.id+'" checked="checked"/> '+ item.name +
                    '</label>&nbsp;&nbsp;&nbsp;&nbsp;';
            } else {

                _html += '<label class="checkbox-inline">' +
                    '<input type="checkbox" name="problemId" value="'+item.id+'" /> '+ item.name +
                    '</label>&nbsp;&nbsp;&nbsp;&nbsp;';
            }

            if ((i + 1) % 3 === 0) {
                _html += '<br/>';
            }
        });

        $(".modal-body").html(_html);
    };

    var showModal = function(id, problemIds) {
        installProblemData(id, problemIds);
        $("#myModal").modal("toggle");
    };

    $("#pastQuery").on('click', function () {
       window.location.href = basePath + '/query';
    });

    $("#groupList").on('click', function () {
       window.location.href = basePath + '/group';
    });

    $("#positionList").on('click', function () {
        window.location.href = basePath + '/position';
    });

    $("#problemList").on('click', function () {
        window.location.href = basePath + '/problem';
    });

    $("#modalSaveBtn").on('click', function () {
        var arr = [];

        $("input[name='problemId']:checked").each(function(){
            arr.push($(this).val());
        });

        if(arr.length === 0){
            alertTool.warning('请选择数据!');
            return;
        }

        var param = {
            id : $("#id").val(),
            problemId : arr.join(",")
        };

        $.ajax({
            url: basePath + "/problemCollect/gatherPoints",
            type: "POST",
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    checkTheGroup();
                    $("#myModal").modal('hide');
                    alertTool.success("设置成功！");
                } else {
                    alertTool.error("设置失败！");
                }
            }
        });
    });

    $(function () {
        getAllGroup();
        checkTheGroup();
    });
</script>
</html>