<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>问题管理</title>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div style="overflow: hidden;">
        <button id="problemAdd" class="btn-info">新增</button>
        <button id="queryBtn" onclick="initData();" class="btn-primary">查询</button>
        <button id="backBtn" onclick="backToIndex();" class="btn-warning" style="margin-right: 5px;float: right;">返回首页</button>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="5%">序号</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="problemData">
            </tbody>
        </table>
    </div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];

    //查询出所有小组数据
    var initData = function () {
        $.ajax({
            url : basePath + '/workProblem/findAllList',
            type: "GET",
            success: function (data) {
                if (data.success) {
                    installData(data.data);
                } else {
                    alert(data.data);
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    //组装数据
    var installData = function (data) {
        var _tBody = $("#problemData");

        if (data === undefined || null == data || data.length === 0) {
            _tBody.html('<tr><td colspan="3" align="center">没有查询到数据</td></tr>');
            return;
        }

        var _html = '';

        $(data).each(function (i, item) {
            _html += '<tr><td>'+i+'</td><td>'+item.name+'</td><td>编辑 删除</td></tr>';
        });

        _tBody.html(_html);
    };

    var backToIndex = function() {
        window.location.href = basePath + '';
    };

    $(function () {
        initData();
    });
</script>
</html>