<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>5S检查-问题管理</title>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.toast.min.css}"/>
</head>
<body>
    <div style="overflow: hidden;">
        <button id="problemAdd" class="btn-info" data-toggle="modal" data-target="#myModal">新增</button>
        <button id="queryBtn" onclick="initData();" class="btn-primary">查询</button>
        <button id="backBtn" onclick="backToIndex();" class="btn-warning" style="margin-right: 5px;float: right;">返回首页</button>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="5%">序号</th>
                <th>名称</th>
                <td>扣分</td>
                <td>描述</td>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="problemData">
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">问题编辑</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container col-md-12">
                        <form id="problemForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <span style="color: red;">*</span>问题名称：
                                </div>

                                <div class="col-md-8">
                                    <input type="text" id="name" name="name" maxlength="10" placeholder="问题简述，10个字内"/>
                                    <input type="hidden" id="id" name="id"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span style="color: red;">*</span>分  值：
                                </div>

                                <div class="col-md-8">
                                    <input type="number" id="point" name="point" maxlength="9" placeholder="整数"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    问题详情：
                                </div>

                                <div class="col-md-8">
                                    <textarea maxlength="100" id="detail" name="detail" placeholder="问题描述详情，100个字内"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="modalSaveBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/toast/alertTool.js}"></script>
<script th:src="@{/js/toast/jquery.toast.min.js}"></script>
<script th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];

    var problemForm = $("#problemForm");

    problemForm.validate({
        rules: {
            name:{
                required: true,
                maxlength: 10
            },
            point: {
                required: true,
                digits: true,
                maxlength: 9
            },
            detail: {
                maxlength: 100
            }
        },
        message: {
            name: {
                required: "此项必填",
                maxlength: "超出最大长度限制"
            },
            point: {
                required: "此项必填",
                digits: "请输入整数",
                maxlength: "超出最大长度限制"
            },
            detail: {
                maxlength: "超出最大长度限制"
            }
        }
    });

    //查询出所有小组数据
    var initData = function () {
        $.ajax({
            url : basePath + '/workProblem/findAllList',
            type: "GET",
            success: function (data) {
                if (data.success) {
                    installData(data.data);
                } else {
                    alert(data.data);
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    };

    //组装数据
    var installData = function (data) {
        var _tBody = $("#problemData");

        if (data === undefined || null == data || data.length === 0) {
            _tBody.html('<tr><td colspan="5" align="center">没有查询到数据</td></tr>');
            return;
        }

        var _html = '';

        $(data).each(function (i, item) {
            var _deleteHtml = '<a href="javascript:void(0);" onclick="deleteData('+item.id+');">删除</a>';
            var _editHtml = '<a href="javascript:void(0);" onclick="editData('+item.id+');">编辑</a>';
            _html += '<tr><td>'+(i+1)+'</td><td>'+item.name+'</td><td>'+item.point+'</td><td>'+item.detail+'</td><td>'+_editHtml+' '+_deleteHtml+'</td></tr>';
        });

        _tBody.html(_html);
    };

    var deleteData = function (id) {

        $.ajax({
            url :  basePath + "/workProblem/delete/" + id,
            type:"POST",
            success:function (data) {
                if (data.success) {
                    initData();
                    alertTool.success("删除成功！");
                } else {
                    alertTool.error("删除失败！");
                }
            }
        });
    };

    var editData = function (id) {

        $.ajax({
            url: basePath +"/workProblem/detail/" + id,
            type:"GET",
            success:function (data) {
                if (data.success) {
                    $("#id").val(data.data.id);
                    $("#name").val(data.data.name);
                    $("#point").val(data.data.point);
                    $("#detail").val(data.data.detail);
                    $("#myModal").modal("toggle");
                } else {
                    alertTool.error("加载数据失败！")
                }
            }
        })
    };

    var backToIndex = function() {
        window.location.href = basePath + '';
    };

    $("#problemAdd").on('click', function () {
        $("#myModal").modal("toggle");
    });

    $("#modalSaveBtn").on('click', function () {
        //禁用保存按钮
        $("#modalSaveBtn").attr("disabled","disabled");

        var param = problemForm.serialize();

        var problemId = problemForm.find("[name='id']").val();
        var saveUrl = '';
        if (problemId == null || problemId === undefined || problemId === ''){    //没有id，操作判断为新增，否则为更新
            saveUrl = basePath + "/workProblem/add";
        }else{
            saveUrl = basePath + "/workProblem/edit";
        }
        //校验项目信息
        if(!problemForm.valid()){
            //启用保存按钮
            $("#modalSaveBtn").removeAttr("disabled");
            return;
        }

        //保存季度项目信息,并将保存完的数据返回
        $.ajax({
            url:saveUrl,
            data:param,
            type:"POST",
            success:function (data) {
                if (data.success){
                    //启用保存按钮
                    $("#modalSaveBtn").removeAttr("disabled");
                    clearForm(problemForm);
                    $('#myModal').modal('hide');
                    initData();
                    alertTool.info("保存成功");
                }else{
                    //启用保存按钮
                    $("#modalSaveBtn").removeAttr("disabled");
                    alertTool.info("保存失败");
                }
            },
            error:function (data) {
                //启用保存按钮
                $("#modalSaveBtn").removeAttr("disabled");
                alertTool.error(data);
            }
        });
    });

    var clearForm = function(form) {
        // iterate over all of the inputs for the form
        // element that was passed in
        $(':input', form).each(function() {
            var type = this.type;
            var tag = this.tagName.toLowerCase(); // normalize case
            // it's ok to reset the value attr of text inputs,
            // hidden inputs, and textareas
            if (type === 'text' || type === 'hidden' || tag === 'textarea' || type === 'file' || type === 'number')
                this.value = "";
            // checkboxes and radios need to have their checked state cleared
            // but should *not* have their 'value' changed
            else if (type === 'checkbox' || type === 'radio')
                this.checked = false;
            // select elements need to have their 'selectedIndex' property set to -1
            // (this works for both single and multiple select elements)
            else if (tag === 'select')
                this.selectedIndex = 0;
        });
    };

    $(function () {
        initData();
    });
</script>
</html>