<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>5S检查</title>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.toast.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}"/>
    <style>
        .M-box2{
            margin-left:50%;
        }
    </style>
</head>
<body>
<!-- 这是一个查询页面，选择日期/分组查询当天的数据 -->
你好, 今天是<p id="dateValue" th:text="${#dates.format(#dates.createNow(), 'yyyy年MM月dd日')}" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></p>

    <br/>
    <div style="overflow: hidden;">

        <label for="groupId" class="col-form-label">小组：</label><select id="groupId" class="custom-select-sm"></select>
        <label for="positionId" class="col-form-label">机器：</label><select id="positionId" class="custom-select-sm"></select>

        <label for="beginDate">开始日期：</label>
        <input type="text" id="beginDate" class="date-picker" readonly="readonly" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>

        <label for="endDate">结束日期：</label>
        <input type="text" id="endDate" class="date-picker" readonly="readonly"/>
        <button id="query" class="btn-info" onclick="queryCollect(1,10);">查询</button>
        <button id="export" class="btn-info" onclick="exportExcel();">导出</button>
        <button id="backBtn" onclick="backToIndex();" class="btn-warning" style="margin-right: 5px;float: right;">返回首页</button>

    </div>
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="5%">序号</th>
                <th width="10%">日期</th>
                <th width="10%">小组</th>
                <th width="10%">机器</th>
                <th width="*%">问题</th>
                <th width="8%">扣分</th>
            </tr>
            </thead>
            <tbody id="collectData">
            </tbody>
        </table>
    </div>
    <div class="M-box2"></div>
</body>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/toast/alertTool.js}"></script>
<script th:src="@{/js/toast/jquery.toast.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/jquery.pagination.js}"></script>
<script th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];

    var backToIndex = function() {
        window.location.href = basePath + '';
    };

    //分组下拉框
    var getAllGroup = function () {
        $.ajax({
            url:basePath + "/workGroup/findAllList",
            type:"GET",
            async:false,
            success:function (data) {
                var _html = '';
                if (data.success) {
                    _html += '<option value="">全部</option>';
                    $(data.data).each(function (i, item) {
                        _html += ('<option value="'+item.id+'">'+item.name+'</option>');
                    });
                    $("#groupId").html(_html);
                }
            },
            error:function (data) {
                console.log(data);
            }
        });
    };

    //机器下拉框
    var getAllPosition = function () {
        $.ajax({
            url:basePath + "/workPosition/findAllList",
            type:"GET",
            async:false,
            success:function (data) {
                var _html = '';
                if (data.success) {
                    _html += '<option value="">全部</option>';
                    $(data.data).each(function (i, item) {
                        _html += ('<option value="'+item.id+'">'+item.name+'</option>');
                    });
                    $("#positionId").html(_html);
                }
            },
            error:function (data) {
                console.log(data);
            }
        });
    };

    var queryCollect = function(pageNum, pageSize) {
      $.ajax({
         url: basePath + "/problemCollect/queryInfo",
         type: "GET",
         data: {
             groupId:$("#groupId").val(),
             positionId:$("#positionId").val(),
             beginDate:$("#beginDate").val(),
             endDate:$("#endDate").val(),
             pageNum:pageNum,
             pageSize:pageSize
         },
         success:function (data) {
             if (data.success) {

                 $('.M-box2').pagination({
                     pageCount:data.data.totalPages,
                     current:data.data.number + 1,
                     coping: true,
                     homePage: '首页',
                     endPage: '末页',
                     prevContent: '上页',
                     nextContent: '下页',
                     callback: function (api) {
                         queryCollect(api.getCurrent(), pageSize);
                     }
                 });
                 installData(data.data.content);
             }
             console.log(data);
         }
      });
    };

    var installData = function(data) {
        var _tBody = $("#collectData");

        if (data === undefined || null == data || data.length === 0) {
            _tBody.html('<tr><td colspan="6" align="center">没有查询到数据</td></tr>');
            return;
        }

        var _html = '';

        $(data).each(function (i, item) {
            _html += '<tr><td>'+(i+1)+'</td><td>'+item.checkDateStr+'</td><td>'+item.groupName+'</td>' +
                '<td>'+item.positionName+'</td><td>'+item.problemName+'</td><td>'+item.point+'</td></tr>';
        });

        _tBody.html(_html);
    };

    var exportExcel = function() {
        var groupId = $("#groupId").val();
        var positionId = $("#positionId").val();
        var beginDate = $("#beginDate").val();
        var endDate = $("#endDate").val();
        /*<![CDATA[*/
        window.location.href = basePath + "/problemCollect/exportByParam?groupId="+groupId+"&positionId="+positionId+"&beginDate="+beginDate+"&endDate="+endDate;
        /*]]>*/
    };

    $(function () {
        getAllGroup();
        getAllPosition();

        $("#beginDate").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#endDate").datepicker({
            dateFormat: "yy-mm-dd"
        });

        queryCollect(1, 10);
    });
</script>
</html>